
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif; /* Tipografía más moderna */
    color: #ffffff; /* Color del texto */
    background-color: #e1e6ec; /* Fondo oscuro */
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 680px;
    margin: auto;
    padding: 40px;
    background: rgba(172, 182, 192, 0.85); /* Fondo más oscuro con opacidad */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra de caja */
    margin-top: 30px;
}
form{
    margin-right: 25px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #15191a; /* Color de título más claro */
    font-size: 3.4em;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0a0c0c; /* Color de etiquetas claro */
    font-size: 1.3em;
}

input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px; /* Fuente más grande */
}

input[type="text"]:focus {
    border-color: #3498db; /* Color del borde al enfocar */
    outline: none; /* Sin contorno */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Sombra de enfoque */
}

/* CSS para el botón */
.button-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.button-71 {
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    margin: 15px;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    touch-action: manipulation;
    justify-content: center;
    font-size: 1.5rem;
}

.button-71:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
}

.button-71:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        padding: 20px; /* Reduce padding en móviles */
    }

    .container {
        padding: 20px; /* Reduce padding en la caja del formulario */
    }

    input[type="text"], .button-71 {
        font-size: 16px; /* Ajustar tamaño de fuente para móviles */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px; /* Tamaño de fuente del título en pantallas pequeñas */
    }

    input[type="text"], .button-71 {
        font-size: 14px; /* Ajustar tamaño de fuente aún más en pantallas pequeñas */
    }
}
